<form method="post" action="/editFilmSuccess">
<div>
        <p style="text-align: center;">Редактировать фильм</p>
        <input type="hidden" name="id" value="{{idFilm}}">
        <div class="edit">
            <div class="edit_1">
                <label for="title">название фильма</label>
            </div>
            <div class="edit_2">
                <input type="text" name="title" placeholder="название фильма" value="{{film.title}}">
            </div>
        </div>
        <div class="edit">
            <div class="edit_1">
                <label for="rate">рэйтинг</label>
            </div>
            <div class="edit_2">
                <input type="number" name="rate" placeholder="рэйтинг" value="{{film.rate}}">
            </div>
        </div>

        <div class="edit"> 
            <div class="edit_1">
                <label for="year">год</label>
            </div>
            <div class="edit_2">
                <input type="number" name="year" placeholder="год" value="{{film.year}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="country">страна</label>
            </div>
            <div class="edit_2">
                <input type="text" name="country" placeholder="страна" value="{{film.country}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="genre">жанр</label>
            </div>
            <div class="edit_2">
                <input type="text" name="genre" placeholder="жанр" value="{{film.genre}}" >
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="duration">длительность</label>
            </div>
            <div class="edit_2">
                <input type="number" name="duration" placeholder="длительность" value="{{film.duration}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="premiere">премьера</label>
            </div>
            <div class="edit_2">
                <input type="text" name="premiere" placeholder="премьера" value="{{film.premiere}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="quality">качество</label>
            </div>
            <div class="edit_2">
                <input type="text" name="quality" placeholder="качество" value="{{film.quality}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="full_description">полное описание</label>
            </div>
            <div class="edit_2">
                <textarea  name="full_description" placeholder="полное описание" rows="4" cols="50">{{film.full_description}}</textarea>
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="short_description">короткое описание</label>
            </div>
           <div class="edit_2">
                <textarea  name="short_description" placeholder="короткое описание" rows="4" cols="50">{{film.short_description}}</textarea>
           </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="img">картинка</label>
            </div>
            <div class="edit_2">
                <input type="text" name="img" placeholder="картинка" value="{{film.img}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="url">url фильма</label>
            </div>
            <div class="edit_2">
                <input type="text" name="url" placeholder="url фильма" value="{{film.url}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="actors">актеры</label>
            </div>
            <div class="edit_2">
                <textarea name="actors"placeholder="актеры" rows="4" cols="50" >{{film.actors}}</textarea>
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="director">директор</label>
            </div>
            <div class="edit_2">
                <input type="text" name="director"placeholder="директор" value="{{film.director}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="totalVotes">голоса</label>
            </div>
            <div class="edit_2">
                <input type="number" name="totalVotes" placeholder="голоса" value="{{film.totalVotes}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="totalRating">общий рейтинг</label>
            </div>
            <div class="edit_2">
                <input type="number" name="totalRating" placeholder="общий рейтинг" value="{{film.totalRating}}">
            </div>
        </div>

        <div class="edit">
            <div class="edit_1">
                <label for="averageRating">средний рейтинг</label>
            </div>
            <div class="edit_2">
                <input type="number" name="averageRating" placeholder="средний рейтинг" value="{{film.averageRating}}">
            </div>
        </div>
        <div>
            <input type="submit" name="change" value="изменить">
        </div>
</div>
</form>
